.logo {
    width: 100px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}

.nav__menu {
    display: flex;
}

.nav__menu>li {
    list-style: none;
    padding: 20px;
}

.nav__menu>li>a,
.nav>code>a {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
    display: inline-block;
    position: relative;
}

.nav__menu>li>a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #353535;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav__menu>li>a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}